<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>🚀 Welcome to  RocketShop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <style>
        .margin-top {
            margin-top: 30px;
        }
        .medium-margin-top {
            margin-top: 60px;
        }
    </style>
    <div class="container">
        <div class="row margin-top">
            <div class="col-md-12">
                <h1>Welcome to 🚀 RocketShop</h1>
                <h4 style="color: darkgray">The world's first eva shop where you buy stuff in XLM!!!!</h4>
            </div>
        </div>
        <div class="row margin-top">
            <div class="col-md-4 col-md-offset-4">
                <img src="https://www.stain-removal-101.com/images/xajax-detergent-takes-out-tough-stains-21527497.jpg.pagespeed.ic.D7hl-dX52Y.jpg" alt="">
                <div>Ajax Cleaner - makes your life cleaner</div>
                <div><h3>10 XLM</h3></div>
                <div><a href="/basket" class="btn btn-success">Buy</a></div>
            </div>
        </div>
    </div>
</body>
</html>